/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-cover: url(../images/cover-image-dark.png);
  --main-font-family: "IBM Plex mono", sans-serif;
  --main-text-size: 18px;
  --main-text-weight: 400;
  --font-weight-bold: 700;
  --line-height: 23.4px;
  --title-font-size-mobile: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  --title-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-text: rgba(255, 0, 112, 1);
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --bg-accent-text: rgba(255, 0, 112, 1);
  --color-bg-accent-text: rgba(0, 0, 40, 1);
  --title-color: rgba(219, 0, 255, 1);
  --text-shadow: rgba(255, 0, 112, 1);
  --botton-hover: rgba(255, 0, 112, 0.4);
  --button-focus: rgba(255, 0, 112, 1);
  --link-border: rgba(241, 178, 206, 1);
  --decorated-element-visible: block;
}
